/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
	overflow: auto;
}

body {
	font-family: 'Roboto', sans-serif;
}

nav {
	height: 100px;
	align-items: center;
}

nav h1 {
	float: left;
	font-size: 38px;
	font-weight: bold;
}

ul {
	float: right;
}

li {
	list-style-type: none;
	display: inline;
	margin: 10px;
	line-height: 60px;
}

button {
	height: 30px;
	background-color: gray;
	border: 1px solid gray;
	border-radius: 3px;
	padding: 0 10px;
}

.list-button {
	text-decoration: none;
	color: black;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
}

.list-button:hover {
	background-color: black;
	color: white;
}

#alert {
	background-color: red;
	color: white;
}
