// Place all the styles related to the restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.image-container {
	align-items: center;
	height: 400px;
}

.restaurant-image{
	margin: auto;
}
